n8n-workflows/shipflow-fixed.json
{
  "name": "ShipFlow - FULL PIPELINE",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "shipflow/run", "responseMode": "onReceived", "responseData": "allEntries", "options": {}},
      "id": "webhook-main",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "shipflow-run"
    },
    {
      "parameters": {
        "jsCode": "const industry = $input.first().json.body?.industry || 'real estate';\nreturn [{ json: { industry, prompt: 'Research the top 10 trending news stories in ' + industry + ' from the last 24 hours. For each story provide: headline, why trending, key stats, viral potential 1-10.' } }];"
      },
      "id": "prep-research",
      "name": "Prep Research",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer YOUR_PERPLEXITY_API_KEY"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar-pro', messages: [{ role: 'user', content: $json.prompt }], search_recency_filter: 'day' }) }}",
        "options": {}
      },
      "id": "step1-research",
      "name": "1. Research News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "const newsReport = $input.first().json.choices[0].message.content;\nreturn [{ json: { prompt: 'From this news report, select the SINGLE most viral story. Research it deeply: full details, statistics, emotional hooks, controversy. Report: ' + newsReport } }];"
      },
      "id": "prep-select",
      "name": "Prep Select",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer YOUR_PERPLEXITY_API_KEY"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar-pro', messages: [{ role: 'user', content: $json.prompt }], search_recency_filter: 'day' }) }}",
        "options": {}
      },
      "id": "step2-select",
      "name": "2. Select Story",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 0]
    },
    {
      "parameters": {
        "jsCode": "const selectedStory = $input.first().json.choices[0].message.content;\nreturn [{ json: { story: selectedStory } }];"
      },
      "id": "prep-script",
      "name": "Prep Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer YOUR_OPENAI_API_KEY"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'You are a viral video scriptwriter. Write 30-second scripts at 6th grade reading level. Create curiosity in first sentence. End with: Hit follow to stay up to date!' }, { role: 'user', content: 'Write a video script for this story. Return JSON with: script, caption (with hashtags), title. Story: ' + $json.story }], response_format: { type: 'json_object' } }) }}",
        "options": {}
      },
      "id": "step3-script",
      "name": "3. Write Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch(e) {\n  parsed = { script: content, caption: 'Check this out!', title: 'Breaking News' };\n}\nreturn [{ json: { script: parsed.script, caption: parsed.caption, title: parsed.title, industry: $('Start').item.json.body?.industry || 'real estate' } }];"
      },
      "id": "parse-script",
      "name": "Parse Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Api-Key", "value": "sk_V2_hgu_kcWFcXGWWja_pBX4MbRCxxyS7DHusruaY50fcdSBq8zu"}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ video_inputs: [{ character: { type: 'talking_photo', talking_photo_id: '3ece824cc5994c7eaa0d18a8c1d87f14' }, voice: { type: 'text', input_text: $json.script, voice_id: '7161e1653af140edadafa1a870ed328f', speed: 1.1 } }], dimension: { width: 720, height: 1280 }, aspect_ratio: '9:16', caption: true }) }}",
        "options": {}
      },
      "id": "step4-heygen",
      "name": "4. Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "jsCode": "const videoId = $input.first().json.data?.video_id;\nif (!videoId) {\n  throw new Error('Failed to create video: ' + JSON.stringify($input.first().json));\n}\nreturn [{ json: { video_id: videoId, title: $('Parse Script').item.json.title, caption: $('Parse Script').item.json.caption } }];"
      },
      "id": "extract-video-id",
      "name": "Get Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0]
    },
    {
      "parameters": {"amount": 30},
      "id": "wait-30s",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 0],
      "webhookId": "shipflow-wait"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Api-Key", "value": "sk_V2_hgu_kcWFcXGWWja_pBX4MbRCxxyS7DHusruaY50fcdSBq8zu"}]},
        "options": {}
      },
      "id": "step5-poll",
      "name": "5. Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\nconst status = data?.status;\nconst videoUrl = data?.video_url;\nconst videoId = data?.video_id || $('Get Video ID').item.json.video_id;\n\nif (status === 'completed' && videoUrl) {\n  return [{ json: { done: true, video_url: videoUrl, video_id: videoId, title: $('Get Video ID').item.json.title, caption: $('Get Video ID').item.json.caption } }];\n} else if (status === 'failed') {\n  throw new Error('Video generation failed');\n} else {\n  return [{ json: { done: false, video_id: videoId, status: status, title: $('Get Video ID').item.json.title, caption: $('Get Video ID').item.json.caption } }];\n}"
      },
      "id": "check-status",
      "name": "Check Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0]
    },
    {
      "parameters": {
        "conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "is-done", "leftValue": "={{ $json.done }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}], "combinator": "and"},
        "options": {}
      },
      "id": "if-done",
      "name": "Video Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2600, 0]
    },
    {
      "parameters": {"amount": 30},
      "id": "wait-retry",
      "name": "Wait Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2800, 100],
      "webhookId": "shipflow-wait-retry"
    },
    {
      "parameters": {
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $json.video_id }}",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "X-Api-Key", "value": "sk_V2_hgu_kcWFcXGWWja_pBX4MbRCxxyS7DHusruaY50fcdSBq8zu"}]},
        "options": {}
      },
      "id": "poll-retry",
      "name": "Poll Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/media",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.video_url }) }}",
        "options": {}
      },
      "id": "step6-upload",
      "name": "6. Upload Blotato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, -100]
    },
    {
      "parameters": {
        "jsCode": "const mediaUrl = $input.first().json.url || $input.first().json.media_url;\nreturn [{ json: { media_url: mediaUrl, title: $('Check Status').item.json.title, caption: $('Check Status').item.json.caption } }];"
      },
      "id": "prep-post",
      "name": "Prep Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '25109', content: { text: $json.caption, mediaUrls: [$json.media_url], platform: 'tiktok' }, target: { targetType: 'tiktok', isAiGenerated: true, privacyLevel: 'PUBLIC_TO_EVERYONE', disabledComments: false, disabledDuet: false, disabledStitch: false, isBrandedContent: false, isYourBrand: false } } }) }}",
        "options": {}
      },
      "id": "post-tiktok",
      "name": "Post TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, -400],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '26256', content: { text: $json.caption, mediaUrls: [$json.media_url], platform: 'instagram' }, target: { targetType: 'instagram' } } }) }}",
        "options": {}
      },
      "id": "post-instagram",
      "name": "Post Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, -300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '23118', content: { text: $json.caption, mediaUrls: [$json.media_url], platform: 'youtube' }, target: { targetType: 'youtube', title: $json.title, containsSyntheticMedia: true, privacyStatus: 'public', shouldNotifySubscribers: false } } }) }}",
        "options": {}
      },
      "id": "post-youtube",
      "name": "Post YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, -200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '16601', content: { text: $json.caption, mediaUrls: [$json.media_url], platform: 'facebook' }, target: { targetType: 'facebook', pageId: '719899667869698' } } }) }}",
        "options": {}
      },
      "id": "post-facebook",
      "name": "Post Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, -100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '10976', content: { text: $json.title, mediaUrls: [$json.media_url], platform: 'twitter' }, target: { targetType: 'twitter' } } }) }}",
        "options": {}
      },
      "id": "post-twitter",
      "name": "Post Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '18847', content: { text: $json.title, mediaUrls: [$json.media_url], platform: 'bluesky' }, target: { targetType: 'bluesky' } } }) }}",
        "options": {}
      },
      "id": "post-bluesky",
      "name": "Post Bluesky",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, 100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://backend.blotato.com/v2/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [{"name": "blotato-api-key", "value": "blt_U6nU0hmqVz7YG8gFd+8xQao3iBn23tv/gDwmbI1RlpI="}, {"name": "Content-Type", "value": "application/json"}]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ post: { accountId: '3713', content: { text: $json.caption, mediaUrls: [$json.media_url], platform: 'pinterest' }, target: { targetType: 'pinterest', boardId: 'YOUR_BOARD_ID' } } }) }}",
        "options": {}
      },
      "id": "post-pinterest",
      "name": "Post Pinterest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3200, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {"numberInputs": 7},
      "id": "merge-posts",
      "name": "Merge Posts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [3400, -100]
    }  ],
  "connections": {
    "Start": {"main": [[{"node": "Prep Research", "type": "main", "index": 0}]]},
    "Prep Research": {"main": [[{"node": "1. Research News", "type": "main", "index": 0}]]},
    "1. Research News": {"main": [[{"node": "Prep Select", "type": "main", "index": 0}]]},
    "Prep Select": {"main": [[{"node": "2. Select Story", "type": "main", "index": 0}]]},
    "2. Select Story": {"main": [[{"node": "Prep Script", "type": "main", "index": 0}]]},
    "Prep Script": {"main": [[{"node": "3. Write Script", "type": "main", "index": 0}]]},
    "3. Write Script": {"main": [[{"node": "Parse Script", "type": "main", "index": 0}]]},
    "Parse Script": {"main": [[{"node": "4. Create Video", "type": "main", "index": 0}]]},
    "4. Create Video": {"main": [[{"node": "Get Video ID", "type": "main", "index": 0}]]},
    "Get Video ID": {"main": [[{"node": "Wait 30s", "type": "main", "index": 0}]]},
    "Wait 30s": {"main": [[{"node": "5. Poll Status", "type": "main", "index": 0}]]},
    "5. Poll Status": {"main": [[{"node": "Check Status", "type": "main", "index": 0}]]},
    "Check Status": {"main": [[{"node": "Video Ready?", "type": "main", "index": 0}]]},
    "Video Ready?": {"main": [[{"node": "6. Upload Blotato", "type": "main", "index": 0}], [{"node": "Wait Retry", "type": "main", "index": 0}]]},
    "Wait Retry": {"main": [[{"node": "Poll Retry", "type": "main", "index": 0}]]},
    "Poll Retry": {"main": [[{"node": "Check Status", "type": "main", "index": 0}]]},
    "6. Upload Blotato": {"main": [[{"node": "Prep Post", "type": "main", "index": 0}]]},
    "Prep Post": {"main": [[{"node": "Post TikTok", "type": "main", "index": 0}, {"node": "Post Instagram", "type": "main", "index": 0}, {"node": "Post YouTube", "type": "main", "index": 0}, {"node": "Post Facebook", "type": "main", "index": 0}, {"node": "Post Twitter", "type": "main", "index": 0}, {"node": "Post Bluesky", "type": "main", "index": 0}, {"node": "Post Pinterest", "type": "main", "index": 0}]]},
    "Post TikTok": {"main": [[{"node": "Merge Posts", "type": "main", "index": 0}]]},
    "Post Instagram": {"main": [[{"node": "Merge Posts", "type": "main", "index": 1}]]},
    "Post YouTube": {"main": [[{"node": "Merge Posts", "type": "main", "index": 2}]]},
    "Post Facebook": {"main": [[{"node": "Merge Posts", "type": "main", "index": 3}]]},
    "Post Twitter": {"main": [[{"node": "Merge Posts", "type": "main", "index": 4}]]},
    "Post Bluesky": {"main": [[{"node": "Merge Posts", "type": "main", "index": 5}]]},
    "Post Pinterest": {"main": [[{"node": "Merge Posts", "type": "main", "index": 6}]]},
    "Merge Posts": {"main": [[]]}
  },
  "settings": {"executionOrder": "v1"}
}
